<nav class="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Produkter</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/prettypictures">Link d</a></li>
    </ul>
</nav>