.wrapper {
    padding: 1.666rem;
    margin-bottom: 2rem;
}
article {
    max-width: 30em;
    margin: 0 auto;
}
.featuredCard {
    height: 0;
    padding-top: 131%;
    background-color: $turqoise;
    margin: 2rem 0;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.30);
}