$primary : #FF1168;
$secondary : #341931;
$alternate : #111625;

$deeppink : #D70060;
$orangered : #E54028;
$orange : #F18D05;
$gold : #F2BC06;
$lawngreen : #5EB11C;
$seagreen : #3A7634;
$turqoise : #0ABEBE;
$blue : #00A1CB;
$royalblue : #115793;

$gradient : linear-gradient(90deg,#EE0979, #FF6A00);

$font-stack : 'Poppins', arial, sans-serif;

$headline-xl : 2.4rem;